<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AppMonitorUrls" value="http://appsmonitorazure.azurewebsites.net/ElmahErrorHandler.axd,http://appsmonitor.dev.esendex.com/ElmahErrorHandler.axd" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ProxyUrl" value="http://errorproxy.dev.esendex.com:9997" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  <log4net xdt:Transform="Replace">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="e:\esendex\logs\apps\AppsMonitorErrorProxy\AppsMonitorErrorProxy.log"/>
      <param name="AppendToFile" value="true"/>
      <datePattern value="dd-MM-yyyy'.log'" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
</configuration>